body{
    background-color: #198754;
}

.title{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #125e3b;
    margin-bottom: 3rem;
}

.title-text{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 700;
}

.one-card{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.content{
    margin-bottom: 3rem;
}

.navigation{
    margin-bottom: 2rem;
}

.footer{
    text-align: center;
    margin-bottom: 3rem;
}

.categories-content{
    text-align: center;
    margin-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.one-category{
    border: solid black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.one-category:hover{
    background-color: #b4bf0f;
}

/* za login page */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }