{% extends 'main.html' %}

{% block content %}

        <!-- naslov -->
        <div class="title">
            <h1 class="title-text">O SAJTU</h1>
        </div>

        <div class="container content">
            <p>
                Na ovom website "postani-root.com" ću pisati članke vezane za tehnologiju, hakovanje i programiranje.
                Pored toga što ću sam obrađivati te teme, website sam također sam napravio pa ukoliko bude nekih problema vezano za funkcionalnost sajta
                zamolit ću vas da mi napišete email, a ja ću se potruditi da to riješim u što kraćem roku. 
                "postani-root.com" je napisan u django frameworku, i uglavnom se ta tehnologija koristila. Koristio sam 
                i bootstrap za frontend pa bi website trebao biti optimizovan i za uređaje poput mobitela ili tableta.
                U ovoj trenutnoj verziji sam dodao i opciju da se korisnici mogu prijaviti i ostaviti komentare na člancima.
                Ukoliko imate pitanja ili sugestije slobodno pošaljite mail: <strong>blackrabbit1303@proton.me</strong> 
            </p>
        </div>

{% endblock content %}