{% extends 'main.html' %}

{% block content %}

        <!-- naslov -->
        <div class="title">
            <h1 class="title-text">{{article.title}}</h1>
            <h3 class="title-text">{{article.category}}</h3>
        </div>

        <div class="content container">
            <p>{{article.body|safe}}</p>
          </div>

        <hr>
        <div class="container">
          <h2>Ostavi svoj komentar:</h2>
          {% if request.user.is_authenticated %}
          <form action="" method="POST">
              {% csrf_token %}
              {% for field in form %}
              {{field}}
              {% endfor %}
              <input type="submit" class="btn btn-outline-warning" value="Objavi" />
          </form>
          {% else %}
          <p>Da bi ostavili svoj komentar morate se prijaviti.</p>
          <a class="btn btn-outline-warning btn-lg" href="{% url 'login' %}">Prijavi se</a>
          {% endif %}
        </div>

        <hr>
        
        <div class="container">
          <h2>Komentari: </h2>
          <br>
          {% for comment in article.comments.all  %}
          <div class="comment">
            <div class="comment-header">
              <div class="row">
                <div class="col-6">
                  {% if comment.owner.username == "rabbit" %}
                  <h5 style="margin-bottom: 0; color: red;">{{comment.owner}} ⭐</h5>
                  {% else %}
                  <h5 style="margin-bottom: 0;">{{comment.owner}}</h5>
                  {% endif %}
                </div>
                <div class="col-6" style="text-align: right;">
                  <p>{{comment.created}}</p>
                </div>
              </div>
            </div>
            <div class="comment-body">
              <p>{{comment.body | linebreaksbr}}</p>
              <a href="{% url 'reply' comment.id %}" class="btn btn-outline-primary">Odgovori</a>
            </div>
          </div>
          {% for reply in comment.replies.all %}
            <!-- odgovor -->
            <div class="comment reply">
              <div class="comment-header reply-header">
                <div class="row">
                  <div class="col-6">
                    <h5 style="margin-bottom: 0;">{{reply.owner}}</h5>
                  </div>
                  <div class="col-6" style="text-align: right;">
                    <p>{{reply.created}}</p>
                  </div>
                </div>
              </div>
              <div class="comment-body reply-body">
                <p>{{reply.body}}</p>
                <a href="{% url 'reply' comment.id %}" class="btn btn-outline-primary">Odgovori</a>
              </div>
            </div>
          {% endfor %}
          {% endfor %}

        </div>


{% endblock content %}