{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="comment">
        <div class="comment-header">
          <div class="row">
            <div class="col-6">
              {% if comment.owner.username == "rabbit" %}
              <h5 style="margin-bottom: 0; color: red;">{{comment.owner}} ⭐</h5>
              {% else %}
              <h5 style="margin-bottom: 0;">{{comment.owner}}</h5>
              {% endif %}
            </div>
            <div class="col-6" style="text-align: right;">
              <p>{{comment.created}}</p>
            </div>
          </div>
        </div>
        <div class="comment-body">
          <p>{{comment.body | linebreaksbr}}</p>
        </div>
      </div>
      {% for reply in comment.replies.all %}
        <!-- odgovor -->
        <div class="comment reply">
        <div class="comment-header reply-header">
            <div class="row">
            <div class="col-6">
                <h5 style="margin-bottom: 0;">{{reply.owner}}</h5>
            </div>
            <div class="col-6" style="text-align: right;">
                <p>{{reply.created}}</p>
            </div>
            </div>
        </div>
        <div class="comment-body reply-body">
            <p>{{reply.body}}</p>
        </div>
        </div>
        {% endfor %}

        <form method="POST" action="{% url 'reply' comment.id %}">
            {% csrf_token %}
            {% for field in form %}
            {{field}}
            {% endfor %}
            <br>
            <input class="btn btn-primary" type="submit" value="Odgovori" />
        </form>
</div>



{% endblock content %}