{% extends 'main.html' %}

{% block content %}


<main class="form-signin w-100 m-auto">
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Dobrodošli</h1>
  
      <div class="form-floating">
        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Korisničko ime">
        <label for="floatingInput">Korisničko ime</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Lozinka">
        <label for="floatingPassword">Lozinka</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Prijavi se</button>
      <p>Nemaš profil? <a href="{% url 'register' %}">Registruj se!</a></p>
    </form>
  </main>


{% endblock content %}